<div class="padding--right padding--left">
  <div class="toast toast--banner toast--alt text--underline" routerLink="/">
    <span class="text--high">Volver al inicio</span>
  </div>
</div>

<div class="content">
  <div class="text text--h1 text--high">Ups!</div>
  <div class="text text--h1 padding--bottom">Esta página ya no existe.</div>
  <button type="button" class="button" routerLink="/">
    Volver al inicio
  </button>
</div>

<div class="footer-message text text--alt text--center padding" routerLink="../sobre-nosotros">
  Hecho con ❤️ en tiempos de Covid-19
</div>
