$palette: (
  bg:       #ffffff,
  bgdark:   mix(black, white, 4%),
  bgalt:    rgba(#000000, 0.04),
  border:   #E7EAEC,

  g1:       mix(black, white, 8%),

  c1:       mix(black, white, 16%),
  c2:       #7D7D7D,
  c3:       #000000,
  shadow:   #000000,

  brand:    #3D5AFE,

  error:    #FE3D3D,
  success:  #3CD953,
) !default;
