$palette: (
  bg:       #ffffff,
  bgdark:   #F7F7F9,
  border:   #E7EAEC,

  c1:       #CFD8DC,
  c2:       #607D8B,
  c3:       #263238,
  shadow:   #000000,

  brand:    #3F51B5,

  s0:      #1E88E5,
  s1:      #00C853,
  s2:      #FBC02D,
  s3:      #FF6D00,
  s4:      #FF3D00,
  s5:      darken(#f7a8ff, 10%),
) !default;
