$palette: (
  bg:       #ffffff,
  bgdark:   #F0F0F0,
  border:   #E7EAEC,

  c1:       mix(black, white, 16%),
  c2:       #7D7D7D,
  c3:       #000000,
  shadow:   #000000,

  brand:    #3D5AFE,

  error:    #FE3D3D,
  success:  #3CD953,
) !default;
