@import '../../styles/index';

:host {
  height: 100%;
}

.container {
  height: 100%;

  &--hidden {
    display: none;
  }
}

.content {
  min-height: $size---content;
}

.footer-message {
  background: gc(bgdark);
}

.footer {
  @include shadow(2, $reverse: true);

  height: $size---footer;
  position: sticky;
  bottom: 0;
  background: gc(bg);
  border-top: 1px solid gc(border);
  padding: $size---padding;
}

.price-input {
  width: 80px;
  text-align: right;
  padding: 0;
  padding-left: $size---padding / 2;
}

.price-tip {
  @include transition(fast);

  display: block;
  white-space: nowrap;
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 1;
  line-height: 20px;

  &-wrapper {
    position: relative;
  }
}

.price-input:focus ~ .price-tip {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: gc(bg);
  display: none;
  flex-direction: column;

  &--visible {
    display: flex;
  }

  &-content {
    flex: 1;
    padding: $size---padding;
    padding-top: 20px;
  }
  &-header {
    padding: $size---padding;
    border-bottom: 1px solid gc(border);
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    align-items: center;
    height: $size---footer + 1px;
    background: gc(bg);

    &__title {
      flex: 1;
      text-align: center;
    }
  }
  &-close {
    position: absolute;
    top: $size---padding + 20px;
    left: $size---padding + 20px;
    transform: translateX(-50%) translateY(-50%);
  }
}

.prefix {
  display: flex;
  align-items: baseline;

  span {
    padding-right: $size---padding / 2;
    display: block;
  }
}


.schedule,
.input {
  margin-top: $size---padding / 4;
}

// Schedule component
.schedule {
  height: 40px;
  padding: $size---padding / 4 0;
  border-radius: $size---padding / 2;
  border: 1px solid gc(c2);
  display: flex;
  align-items: stretch;

  &__button {
    @include transition(fast);
    @include ui-text(upper);

    background: gc(bg);
    color: gc(c3);
    border-radius: $size---padding / 4;
    margin: 0 $size---padding / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;

    &--active {
      background: gc(brand);
      color: gc(bg);
    }
  }
}
