@import '../../styles/index';

:host {
  height: 100%;
}

.content {
  min-height: $size---content;
}

.footer-message {
  background: gc(bgdark);
}

.footer {
  @include shadow(2, $reverse: true);

  height: $size---footer;
  position: sticky;
  bottom: 0;
  background: gc(bg);
  border-top: 1px solid gc(border);
  padding: $size---padding;
}

.price-input {
  width: 80px;
  text-align: right;
  padding: 0;
  padding-left: $size---padding / 2;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.price-tip {
  @include transition(fast);

  display: inline-flex;
  vertical-align: bottom;
  width: 0;
  white-space: nowrap;
  position: relative;
  top: 20px;
  justify-content: flex-end;
  opacity: 1;
}

.price-input:focus ~ .price-tip {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: gc(bg);
  display: none;

  &--visible {
    display: block;
  }

  &-content {
    min-height: $size---overlay-content;
    padding: $size---padding;
    padding-top: 20px;
  }
  &-close {
    position: absolute;
    top: $size---padding + 20px;
    left: $size---padding + 20px;
    transform: translateX(-50%) translateY(-50%);
  }
}

.schedule,
.input {
  margin-top: $size---padding / 4;
}

// Schedule component
.schedule {
  height: 40px;
  padding: $size---padding / 4 0;
  border-radius: $size---padding / 2;
  border: 1px solid gc(c2);
  display: flex;
  align-items: stretch;

  &__button {
    @include transition(fast);
    @include ui-text(upper);

    background: gc(bg);
    color: gc(c3);
    border-radius: $size---padding / 4;
    margin: 0 $size---padding / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;

    &--active {
      background: gc(brand);
      color: gc(bg);
    }
  }
}
