<div class="container" [class.container--hidden]="editRestaurant || editEmoji" *ngIf="restaurant">
  <form class="content padding toast-wrapper--banner">
    <div class="toast toast--banner toast--alt text--underline" routerLink="/">
      Volver al inicio
    </div>

    <div class="layout layout--sides padding--half-top">
      <div class="layout--no-overflow padding--right">
        <h1 class="text text--h1 text--ellipsis">{{restaurant.name}}</h1>
        <div class="text text--small text--link padding--half-top clickable" (click)="editRestaurant = true">
          Editar información de mi restaurante
        </div>
      </div>
      <div class="emoji emoji--alone clickable tooltip-wrapper" (click)="helpDone('icon'); editEmoji = true">
        {{restaurant.icon}}

        <div class="tooltip" [class.tooltip--visible]="tooltip === 'icon'">Elige un icono</div>
      </div>
    </div>

    <div class="divider--space"></div>

    <div class="sticky-header padding--top padding--bottom layout layout--sides">
      <h2 class="text text--h2 text--ellipsis">{{restaurant.menu.name}}</h2>
      <div class="tooltip-wrapper">
        <input
          #price
          inputmode="decimal"
          name="price"
          [ngModel]="restaurant.menu.price"
          (keypress)="priceFixer.keypress($event)"
          (keyup)="priceFixer.keyup($event)"
          (focus)="helpDone('price')"
          (blur)="helpDone('price', true)"
          class="text text--h2 text--high price-input"
          type="number"
          required
          placeholder="0"
          min="0"><!--
     --><span class="text text--h2 text--high"> €</span>
        <div class="tooltip" [class.tooltip--visible]="tooltip === 'price'">Añade un precio</div>
      </div>
    </div>

    <ng-container *ngFor="let section of restaurant.menu.sections; let sIndex = index; let last = last; trackBy: trackIndex">
      <div class="padding--top padding--bottom" #sectionContainer>
        <h3 class="text text--alt">{{section.title}}</h3>

        <div
          *ngFor="let item of section.items; let index = index; trackBy: trackIndex"
          class="dish">

          <input
            required
            name="dish-{{sIndex}}-{{index}}"
            [(ngModel)]="section.items[index]"
            placeholder="Nuevo plato"
            class="text dish__input">

          <span
            class="dish__icon mat-icon mat-icon--area clickable"
            (click)="section.items.splice(index, 1)">

            delete
          </span>
        </div>

        <div class="divider--space"></div>

        <button
          type="button"
          (click)="section.items.push(undefined); focusLastInput(sectionContainer)"
          class="button button--secondary">

          Añadir {{section.title | lowercase}}
        </button>
      </div>

      <div class="divider" [class.divider--space]="last"></div>
    </ng-container>

    <div class="layout layout--sides padding--half-top padding--half-bottom">
      <span>Incluye bebida</span>
      <span
        class="switch"
        [class.switch--active]="restaurant.menu.includeBeverage"
        (click)="restaurant.menu.includeBeverage = !restaurant.menu.includeBeverage">
      </span>
    </div>
    <div class="layout layout--sides padding--half-top padding--half-bottom">
      <span>Incluye pan</span>
      <span
        class="switch"
        [class.switch--active]="restaurant.menu.includeBread"
        (click)="restaurant.menu.includeBread = !restaurant.menu.includeBread">
      </span>
    </div>

    <div class="divider--space-and-half"></div>
  </form>

  <div class="footer-message text text--alt text--center padding">
    Hecho con ❤️ en tiempos de Covid-19
  </div>

  <div class="divider--double" *ngIf="toastVisible || (published && !isTouched)"></div>

  <div class="footer layout layout--buttons toast-wrapper">
    <div class="toast" [class.toast--active]="toastVisible || (published && !isTouched)">
      <ng-container *ngIf="toastVisible; else checkMenu">{{toastMessage}}</ng-container>
      <ng-template #checkMenu>
        🥳 Menú guardado. <span class="text--underline">Ver menú</span>
      </ng-template>
    </div>

    <button type="button" class="button" [disabled]="!published || isTouched" (click)="share()">
      {{canShare ? 'Compartir' : 'Copiar link'}}
    </button>
    <button type="button" class="button" [disabled]="!isValid || !isTouched" (click)="save('menu')">
      Publicar
    </button>
  </div>
</div>

<!-- Restaurant info -->
<div class="overlay" [class.overlay--visible]="editRestaurant" *ngIf="restaurant">

  <div class="overlay-header">
    <span
      class="mat-icon mat-icon--area mat-icon--dark clickable"
      *ngIf="exists; else emptyIcon"
      (click)="revertRestaurant(); editRestaurant = false">

      close
    </span>
    <ng-template #emptyIcon>
      <span class="mat-icon mat-icon--area"></span>
    </ng-template>
    <div class="text text--bold overlay-header__title">Mi restaurante</div>
    <span class="mat-icon mat-icon--area mat-icon--dark clickable" [matMenuTriggerFor]="menu">more_vert</span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="removeData()">Eliminar todos tus datos</button>
    </mat-menu>
  </div>

  <form #info="ngForm" class="overlay-content padding">
    <div class="padding--top tooltip-wrapper">
      <div class="text text--small text--alt">Nombre</div>
      <input
        name="name"
        required
        [(ngModel)]="restaurant.name"
        class="text input">
      <div class="tooltip tooltip--center tooltip--error">Este campo es necesario</div>
    </div>

    <div class="divider--half-space"></div>

    <div class="padding--top tooltip-wrapper">
      <div class="text text--small text--alt">Número de teléfono</div>
      <input
        type="tel"
        required
        pattern="[\d -]+"
        name="phone"
        [(ngModel)]="restaurant.phone"
        class="text input">
      <div class="tooltip tooltip--center tooltip--error">
        {{restaurant.phone ? 'Formato no válido' : 'Este campo es necesario'}}
      </div>
    </div>

    <div class="text text--small text--alt text--center padding--half-top">
      Usaremos el teléfono para que los clientes te puedan llamar directamente
    </div>

    <div class="divider--half-space"></div>

    <div class="padding--top">
      <div class="text text--small text--alt">Horario</div>
      <div class="schedule">
        <div
          *ngFor="let day of days; let index = index"
          (click)="restaurant.schedule.days[index] = !restaurant.schedule.days[index]"
          class="schedule__button"
          [class.schedule__button--active]="restaurant.schedule.days[index]">

          {{day}}
        </div>
      </div>
    </div>

    <div class="layout layout--cols padding--top">
      <div class="side prefix">
        <span>De</span>
        <input
          type="time"
          required
          [ngModel]="restaurant.schedule.openAt | date: 'HH:mm' : '+0'"
          (change)="restaurant.schedule.openAt = $event.target.valueAsNumber"
          name="openAt"
          class="text text--center text--big input input--time">
      </div>

      <div class="side prefix">
        <span>a</span>
        <input
          type="time"
          required
          [ngModel]="restaurant.schedule.closeAt | date: 'HH:mm' : '+0'"
          (change)="restaurant.schedule.closeAt = $event.target.valueAsNumber"
          name="closeAt"
          class="text text--center text--big input input--time">
      </div>
    </div>

  </form>

  <div class="footer">
    <button
      type="button"
      class="button button--full"
      [disabled]="(info.invalid || !restaurant.name) || !isInfoTouched"
      (click)="save('restaurant', true); editRestaurant = false">

      Guardar
    </button>
  </div>
</div>

<!-- Emoji selection -->
<div class="overlay" [class.overlay--visible]="editEmoji">
  <div class="overlay-header">
    <span class="mat-icon mat-icon--area mat-icon--dark clickable" (click)="revertEmoji(); editEmoji = false">
      close
    </span>
    <div class="text text--bold overlay-header__title">Elige qué te representa</div>
    <span class="mat-icon mat-icon--area"></span>
  </div>

  <div class="overlay-content padding--half grid">
    <div class="grid__cell" *ngFor="let emoji of emojis; trackBy: trackIndex">
      <div
        class="emoji clickable"
        [class.emoji--selected]="emoji === restaurant?.icon"
        (click)="restaurant.icon = emoji">

        {{emoji}}
      </div>
    </div>
  </div>

  <div class="footer">
    <button
      type="button"
      class="button button--full"
      [disabled]="restaurant?.icon === savedRestaurant?.icon"
      (click)="save('emoji', true); editEmoji = false">

      Guardar
    </button>
  </div>
</div>
