
$ui-button---color: gc(bg) !default;
$ui-button---background: gc(brand) !default;
$ui-button---height: 40px !default;

@mixin ui-button-clickable($scale: 1) {
  @include transition(fast);

  &:active {
    transform: scale(1 - ($scale * 0.04));
  }
}

@mixin ui-button() {
  @include ui-text(upper);
  @include transition(fast);
  @include ui-button-clickable;

  border: 0;
  color: $ui-button---color;
  background: $ui-button---background;
  height: $ui-button---height;
  line-height: $ui-button---height;
  border-radius: $ui-button---height / 2;
  padding: 0 $size---padding * 1.5;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  box-shadow: inset 0 0 0 100px gc(shadow, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--alt,
  &[disabled] {
    background: gc(bgdark);
  }
  &[disabled] {
    color: gc(c1);
    pointer-events: none;
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: inset 0 0 0 100px gc(shadow, 0.16);
    }
  }
  &:active {
    box-shadow: inset 0 0 0 100px gc(shadow, 0.16);
  }

  &--alt {
    color: gc(c3);

    @media (hover: hover) {
      &:hover {
        box-shadow: inset 0 0 0 100px gc(shadow, 0.04);
      }
    }
    &:active {
      box-shadow: inset 0 0 0 100px gc(shadow, 0.04);
    }
  }

  &--secondary {
    background: gc(bgdark);
    border-radius: 8px;
    color: gc(brand);
    width: 100%;
    font-size: 14px;
    justify-content: center;
  }

  &--full {
    width: 100%;
  }
}

@mixin ui-button-component() {
  .button {
    @include ui-button;
  }
}
