
$ui-emoji---background: gc(bgdark) !default;
$ui-emoji--selected---border-color: gc(brand) !default;
$ui-emoji---size: 64px !default;

@mixin ui-emoji() {
  @include transition;

  width: $ui-emoji---size;
  height: $ui-emoji---size;
  line-height: $ui-emoji---size;
  font-size: $ui-emoji---size / 2;
  border-radius: $ui-emoji---size / 2;
  background: $ui-emoji---background;
  box-shadow: inset 0 0 0 4px transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: $size---padding;
  cursor: default;

  &--selected {
    box-shadow: inset 0 0 0 4px $ui-emoji--selected---border-color;
    pointer-events: none;
  }

  &--alone {
    margin: 0;
    flex-shrink: 0;
  }

  &-wrapper {
    text-align: center;
    padding: $size---padding / 2 !important;
  }
}

@mixin ui-emoji-component() {
  .emoji {
    @include ui-emoji;
  }
}
