@mixin ui-input() {
  @include ui-text;

  border: 1px solid gc(c2);
  padding: 0 $size---padding / 2;
  height: 40px;
  line-height: 40px;
  line-height: initial;
  width: 100%;
  border-radius: 8px;
  background: transparent;

  &--time {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
  }
}

@mixin ui-input-component() {
  .input {
    @include ui-input;
  }
}
