@mixin ui-input() {
  @include transition;
  @include ui-text;

  border: 1px solid gc(c2);
  padding: 0 $size---padding / 2;
  height: 40px;
  line-height: 40px;
  line-height: initial;
  width: 100%;
  border-radius: 8px;
  background: transparent;
  appearance: none;

  &:focus {
    border-color: gc(brand);
  }
  &:invalid:not(:focus).ng-touched {
    border-color: gc(error);
  }

  &--time {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

@mixin ui-input-component() {
  .input {
    @include ui-input;
  }
}
