@mixin ui-layout-component() {
  .layout {
    display: flex;

    &--sides {
      justify-content: space-between;
      align-items: center;
    }

    &--ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
