@mixin ui-layout-component() {
  .layout {
    display: flex;

    &--cols,
    &--buttons,
    &--sides {
      justify-content: space-between;
      align-items: center;
    }

    &--ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--cols .side,
    &--buttons .button {
      width: calc(50% - #{$size---padding / 2});
    }

    &--no-overflow {
      overflow: hidden;
    }
  }
}
