@mixin ui-layout-component() {
  .layout {
    display: flex;

    &--buttons,
    &--sides {
      justify-content: space-between;
      align-items: center;
    }

    &--ellipsis {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--buttons {
      .button {
        width: calc(50% - #{$size---padding / 2});
      }
    }
  }
}
