@mixin ui-padding-component() {
  .padding {
    padding: $size---padding;

    &--top { padding-top: $size---padding; }
    &--left { padding-left: $size---padding; }
    &--right { padding-right: $size---padding; }
    &--bottom { padding-bottom: $size---padding; }

    &--half-top { padding-top: $size---padding / 2; }
    &--half-left { padding-left: $size---padding / 2; }
    &--half-right { padding-right: $size---padding / 2; }
    &--half-bottom { padding-bottom: $size---padding / 2; }

    &--remove-horizontal {
      margin-left: -$size---padding;
      margin-right: -$size---padding;
    }
  }

  .divider {
    border-top: 1px solid gc(border);

    &--space {
      padding-top: $size---padding;
    }
    &--half-space {
      padding-top: $size---padding * 0.5;
    }
    &--space-and-half {
      padding-top: $size---padding * 1.5;
    }
  }
}
