
$ui-toast---background: gc(c3) !default;
$ui-toast---color: gc(bg) !default;
$ui-toast---height: 32px !default;

@mixin ui-toast() {
  @include transition(fast);
  @include ui-text(small);

  background: $ui-toast---background;
  height: 0;
  line-height: $ui-toast---height;
  color: $ui-toast---color;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 0 $size---padding;
  text-align: center;

  &--active {
    height: $ui-toast---height;
  }

  &--color {
    background: gc(brand);
  }
  &--alt {
    background: gc(bgdark);
    color: gc(c2);
  }

  &--banner {
    height: $ui-toast---height;
    top: 0;
    text-align: center;
    position: sticky;
    z-index: 10;
    margin: 0 (-$size---padding);
    margin-bottom: $size---padding;
  }

  &-wrapper {
    position: relative;

    &--banner {
      padding-top: 0;
    }
  }
}

@mixin ui-toast-component() {
  .toast {
    @include ui-toast;
  }
}
