@import './styles/index';

:host {
  background: gc(bg);
}

// Workaround to prevent inital scrolling on refresh to wrong place
.hidden {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.app-root-content {
  background: gc(bg);
  position: relative;
  max-width: $size---max-width;
  height: 100%;
  margin: auto;
}

.with-love-global {
  display: none;
  background: gc(g1);
}

// Desktop view
@media (min-width: 600px) {
  :host {
    background: gc(bgdark);
  }

  .app-root-content {
    @include shadow(2);

    margin: $size---padding * 3.5 auto $size---padding * 2;
    min-height: calc(100% - #{$size---footer-message + ($size---padding * 5.5)});
    border-radius: 8px;
    height: initial;
    display: flex;
    flex-direction: column;
    padding-top: $size---padding;

    ::ng-deep & > * {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    router-outlet {
      display: none;
    }
  }
  .with-love-global {
    display: block;
  }
  ::ng-deep {
    .toast--banner {
      position: fixed;
    }
    .toast--alt {
      background: gc(g1);
    }
    .with-love {
      display: none;
    }
    .overlay {
      position: static !important;
      margin-top: -16px;
      flex: 1;
    }
    .overlay-header {
      border-radius: 8px 8px 0 0;
    }
    .footer {
      border-radius: 0 0 8px 8px;
    }
  }
}
