@import './styles/index';

:host {
  background: gc(bg);
  display: flex;
  flex-direction: column;
}

// Workaround to prevent inital scrolling on refresh to wrong place
.hidden {
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.app-root-content-wrapper {
  flex: 1;
}
.app-root-content {
  background: gc(bg);
  position: relative;
  max-width: $size---max-width;
  height: 100%;
  margin: auto;
}

.with-love-global {
  display: none;
  background: gc(g1);
}

.dektop-disclaimer {
  display: none;
  width: $size---sidebar;
  position: fixed;
  top: $size---padding * 3.5;
  left: 50%;
  background: gc(bgalt);
  margin-left: (($size---max-width - $size---sidebar + $size---padding) / 2);
  border-radius: 8px;

  .emoji {
    background: gc(bgalt);
  }
}

// Desktop view
@media (min-width: $size---max-width + ($size---padding * 2)) {
  :host {
    background: gc(bgdark);
  }

  .app-root-content {
    @include shadow(3);

    margin: $size---padding * 3.5 auto $size---padding * 2;
    min-height: calc(100% - #{$size---padding * 5.5});
    border-radius: 8px;
    height: initial;
    display: flex;
    flex-direction: column;
    padding-top: $size---padding;

    ::ng-deep & > * {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    router-outlet {
      display: none;
    }
  }
  .with-love-global {
    display: block;
  }
  ::ng-deep {
    .no-desk {
      display: none;
    }
    .toast--banner {
      position: fixed;
    }
    .toast--alt {
      background: gc(g1);
    }
    .with-love {
      display: none;
    }
    .overlay {
      position: static !important;
      margin-top: -16px;
      flex: 1;
    }
    .overlay-header {
      border-radius: 8px 8px 0 0;
    }
    .footer {
      border-radius: 0 0 8px 8px;
    }
  }
}

@media (min-width: 900px) {
  .app-root-content-wrapper {
    width: 100vw;
    padding-right: 380px;
  }
  .dektop-disclaimer {
    display: block;
  }
  :host ::ng-deep div.footer {
    @include shadow(3);

    position: fixed;
    width: $size---sidebar;
    top: 216px + ($size---padding * 3.5) + $size---padding;
    left: 50%;
    margin-left: 52px;
    margin-left: (($size---max-width - $size---sidebar + $size---padding) / 2);
    border-radius: 8px;
    flex-direction: column;
    height: initial;
    bottom: initial;
    align-items: flex-start;

    a,
    .button {
      width: 100%;
      margin-top: $size---padding;

      &:first-child {
        margin-top: 0;
      }
    }

    .toast {
      bottom: initial;
      top: 100%;
      margin-top: $size---padding;
      border-radius: 8px;
      height: 32px;
      opacity: 0;
      pointer-events: none;

      &--active {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }
}

@media (min-width: 1300px) {
  .app-root-content-wrapper {
    width: 100vw;
    padding-right: 0;
  }

  .dektop-disclaimer,
  :host ::ng-deep div.footer {
    margin-left: ($size---max-width / 2) + $size---padding;
  }
}
