@import '../../styles/index';

:host {
  padding-top: 0;
  display: block;
}

.bgdark {
  background: gc(bgdark);
}

$emojis---visible-width: 488px;

.emojis {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  animation: emoji-slider 10s linear infinite;

  .emoji {
    margin: 0 $size---padding / 2;
  }

  &-wrapper {
    overflow: hidden;
  }
}

@keyframes emoji-slider {
  from {
    transform: translateX($size---padding / -2);
  }

  to {
    transform: translateX(-$emojis---visible-width);
  }
}
