@import '../../styles/index';

:host {
  padding-top: $size---padding * 4;
  display: block;
}

.bgdark {
  background: gc(bgdark);
}

.emojis {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;

  .emoji {
    margin: 0 $size---padding / 2;
  }
}
