<div class="padding--right padding--left">
  <div class="toast toast--banner toast--alt text" *ngIf="(user$ | async) && (restaurantName$ | async); else restaurantsNumber">
    No soy {{(restaurantName$ | async) || (user$ | async)?.displayName}}.
    <span class="text--underline clickable" (click)="logout()">Cerrar sesión.</span>
  </div>
  <ng-template #restaurantsNumber>
    <div class="toast toast--banner toast--alt text">
      <span class="text--high">{{(restaurants$ | async) || '∞'}}</span> restaurantes ya lo están usando 🚀
    </div>
  </ng-template>
</div>

<div class="divider--double no-desk"></div>
<div class="divider--double"></div>

<div class="emojis-wrapper padding--bottom">
  <div class="emojis">
    <div class="emoji emoji--alone" *ngFor="let emoji of emojis">
      {{emoji}}
    </div>
  </div>
</div>

<ng-container *ngIf="(user$ | async) && (restaurantName$ | async); else defaultView">
  <div class="padding">
    <h1 class="text text--h1">
      Hola de nuevo,
      <br>
      <span class="text--high">{{(restaurantName$ | async) || (user$ | async)?.displayName}}</span>.
    </h1>

    <div class="divider--space"></div>

    <button type="button" class="button button--full" routerLink="mi-restaurante">
      Editar mi menú
    </button>
  </div>
</ng-container>

<ng-template #defaultView>
  <div class="padding">
    <h1 class="text text--h1">
      Crea el menú de tu restaurante. <span class="text--high">Online</span>.
    </h1>

    <div class="divider--space"></div>

    <h2 class="text text--alt">
      Compártelo por WhatsApp o en tus redes sociales en menos de 5 minutos.
    </h2>
  </div>

  <div class="padding layout layout--buttons">
    <button type="button" class="button" (click)="login()">
      Crear menú
    </button>
    <button type="button" class="button button--alt text--ellipsis" routerLink="/ejemplo">
      Ver ejemplo
    </button>
  </div>
</ng-template>

<div class="divider--double"></div>

<div class="padding bgdark">
  <h3 class="text text--h2 padding--top padding--half-bottom">💙 Manifiesto</h3>

  <p class="text text--bold text--high padding--bottom">
    En tiempos extraordinarios, necesitamos acciones extraordinarias. 💪
  </p>

  <p class="text text--alt padding--half-bottom">
    La situación actual está obligando a pequeños negocios a tomar medidas que no contemplaban y por ello,
    hemos decidido ofrecer este servicio gratuito, para ayudar a los restaurantes a compartir su menú diario online.
  </p>
</div>

<div class="divider--space"></div>


<div class="padding">
  <h3 class="text text--h2 padding--top padding--half-bottom">🤔 Preguntas frecuentes</h3>

  <div class="clickable" (click)="faqsOpen.start = !faqsOpen.start">
    <div class="layout layout--sides">
      <h4 class="text text--bold">¿Qué necesito para empezar?</h4>
      <span class="mat-icon mat-icon--area mat-icon--dark clickable" [class.icon-opened]="faqsOpen.start">keyboard_arrow_down</span>
    </div>
    <div class="collapsed padding--half-top padding--bottom text text--small" [class.collapsed--closed]="!faqsOpen.start">
      De momento, si quieres crear tu menú, necesitarás una cuenta de Google.
      En el futuro habrá más formas de poder crear tu menú.
      <div class="divider--half-space"></div>
    </div>
  </div>

  <div class="clickable" (click)="faqsOpen.free = !faqsOpen.free">
    <div class="layout layout--sides">
      <h4 class="text text--bold">¿El servicio es gratuito?</h4>
      <span class="mat-icon mat-icon--area mat-icon--dark clickable" [class.icon-opened]="faqsOpen.free">keyboard_arrow_down</span>
    </div>
    <div class="collapsed padding--half-top padding--bottom text text--small" [class.collapsed--closed]="!faqsOpen.free">
      Sí, este es un proyecto hecho para ayudar, sin intención de obtener benefício.
      A día de hoy, podemos asumir los gastos que un servicio así conlleva.
      <div class="divider--half-space"></div>
    </div>
  </div>

  <div class="clickable" (click)="faqsOpen.data = !faqsOpen.data">
    <div class="layout layout--sides">
      <h4 class="text text--bold">¿Puedo borrar mis datos?</h4>
      <span class="mat-icon mat-icon--area mat-icon--dark clickable" [class.icon-opened]="faqsOpen.data">keyboard_arrow_down</span>
    </div>
    <div class="collapsed padding--half-top padding--bottom text text--small" [class.collapsed--closed]="!faqsOpen.data">
      Por supuesto. Dentro de editar la información de tu restaurante verás un menú,
      pulsando allí, puedes eliminar todos tus datos, para siempre.
      <div class="divider--half-space"></div>
    </div>
  </div>

</div>

<div class="divider--space"></div>

<div class="padding">
  <h3 class="text text--h2 padding--top padding--half-bottom">📫 Tu opinión nos ayuda</h3>

  <p class="text text--alt padding--bottom">
    Si tienes alguna nueva idea para este servicio, una manera de expandirlo o simplemente
    quieres decirnos “Hola 👋”, te invitamos a que nos envies un mail.
    Estaremos encantados de escucharte y/o poder ayudarte.
  </p>

  <a href="mailto:info@menuparallevar.com" target="_blank">
    <button type="button" class="button button--secondary">
      Enviar un mail
    </button>
  </a>
</div>

<div class="divider--double no-desk"></div>

<div class="with-love bgdark text text--alt text--center padding" routerLink="sobre-nosotros">
  Hecho con ❤️ en tiempos de Covid-19
</div>
