@import '../../styles/index';

:host {
  height: 100%;
}

.content {
  min-height: $size---content;
}

.footer-message {
  background: gc(bgdark);
}

.footer {
  @include shadow(2, $reverse: true);

  height: $size---footer;
  position: sticky;
  bottom: 0;
  background: gc(bg);
  border-top: 1px solid gc(border);
  padding: $size---padding;
}
