<div class="content padding toast-wrapper--banner">
  <ng-container *ngIf="restaurant$ | async as restaurant">

    <div class="toast toast--banner toast--color" routerLink="/" *ngIf="restaurant.type !== 'own'">
      Creado con <span class="text--underline">menuparallevar.com</span>
    </div>
    <div class="toast toast--banner toast--alt text--underline" routerLink="../" *ngIf="restaurant.type === 'own'">
      Volver a editar
    </div>

    <div class="layout layout--sides layout--align-start padding--half-top">
      <div class="layout--no-overflow padding--right">
        <h1 class="text text--h1 text--ellipsis padding--half-bottom">{{restaurant.name}}</h1>
        <span class="text text--small text--alt">
          {{now | date : 'EEEE,' | titlecase}}
          {{now | date : 'd \'de\' MMMM'}}
        </span>
      </div>
      <div class="emoji emoji--alone">{{restaurant.icon}}</div>
    </div>

    <div class="divider--space"></div>

    <div class="sticky-header padding--top padding--bottom layout layout--sides">
      <h2 class="text text--h2">{{restaurant.menu.name}}</h2>
      <div class="text text--h2 text--high">{{restaurant.menu.price | number : '.2-2'}}€</div>
    </div>

    <ng-container *ngFor="let section of restaurant.menu.sections; let last = last">
      <div class="padding--top padding--bottom">
        <h3 class="text text--alt">Escoge un {{sectionNames[section.section]}}</h3>

        <div class="padding--half-top text" *ngFor="let item of section.items">
          {{item}}
        </div>
      </div>

      <div class="divider" [class.divider--space]="last"></div>
    </ng-container>

    <div class="padding--top text text--small text--alt text--center">
      {{includes$ | async}}
    </div>

    <div class="divider--space-and-half"></div>
  </ng-container>
</div>

<div class="footer-message text text--alt text--center padding">
  Hecho con ❤️ en tiempos de Covid-19
</div>

<div class="footer layout layout--sides">
  <div class="status layout layout--sides">
    <ng-container *ngIf="status$ | async as status">
      <div class="status__indicator" [class.status__indicator--open]="status.open"></div>
      <div class="status__text">
        <div class="text text--small">{{status.open ? 'Abierto ahora' : 'Cerrado'}}</div>
        <div class="text text--small text--alt" *ngIf="status.open">
          {{status.openRemaining}}
        </div>
        <div class="text text--small text--alt" *ngIf="!status.open && !status.closeRemaining">
          Abre a las {{status.openAt | date : 'HH:mm' : '+0'}}
        </div>
        <div class="text text--small text--alt" *ngIf="!status.open && status.closeRemaining">
          {{status.closeRemaining}} a las {{status.openAt | date : 'HH:mm' : '+0'}}
        </div>
      </div>
    </ng-container>
  </div>

  <a href="tel:{{(restaurant$ | async)?.phone}}">
    <button class="button" [disabled]="!(restaurant$ | async)?.phone">
      Llamar
    </button>
  </a>
</div>
