<div class="padding toast-wrapper--banner">
  <div class="toast toast--banner toast--alt text--underline" routerLink="/">
    <span class="text--high">Volver al inicio</span>
  </div>

  <div class="divider--half-space"></div>

  <h1 class="text text--h2">Hecho con ❤️ en tiempos de Covid-19</h1>

  <div class="divider--space"></div>

  <p class="text">
    Como bien dice nuestro manifiesto, esta idea surgió para ayudar a pequeños negocios que quieran
    empezar su transformación online en estos tiempos, donde esta transformación, ha sido más una
    obligación, que un deseo.
  </p>

  <div class="divider--space"></div>

  <p class="text">
    Detrás de menúparallevar.com, hay dos amigos, dos amigos que llevan colaborando juntos
    en pequeños proyectos personales durante muchos años.
  </p>

  <div class="divider--space-and-half"></div>

  <div class="layout layout--sides layout--align-start">
    <div class="emoji emoji--alone">🤓</div>
    <div class="padding--left">
      <h2>
        <a class="text text--link" href="https://www.linkedin.com/in/pedrogp/" target="_blank">
          Pedro Gutiérrez
        </a>
      </h2>
      <h3 class="text text--small text--alt">
        Frontend Developer
      </h3>
      <p class="text">
        Encargado de la parte técnica del servicio. Si has llegado hasta aquí, es que todo está en orden.
      </p>
    </div>
  </div>

  <div class="divider--space"></div>

  <div class="layout layout--sides layout--align-start">
    <div class="emoji emoji--alone">🚀</div>
    <div class="padding--left">
      <h2>
        <a class="text text--link" href="https://www.donbailon.com/" target="_blank">
          Alex Bailon
        </a>
      </h2>
      <h3 class="text text--small text--alt">
        Product Designer
      </h3>
      <p class="text">
        Si no supiste usarla, es porque este hombre no hizo bien su trabajo. De lo contrario, le has dado una alegría.
      </p>
    </div>
  </div>

  <div class="divider--double"></div>
  <div class="divider--half-space"></div>
  <div class="divider"></div>
  <div class="divider--space-and-half"></div>

  <p class="text text--alt">
    ✌️ Mención especial para
    <a class="text text--link" href="https://www.justmario.com/" target="_blank">Mario Ferrer</a>,
    que ha aportado sus conocimientos para darle sentido linguístico a este proyecto,
    y que, nuestro restaurante de ejemplo,
    <span class="text text--link" routerLink="../ejemplo">Paquito’s Taquitos</span>,
    es un homenaje de nuestra parte, a su aportación.
  </p>

  <div class="divider--space-and-half"></div>
  <div class="divider"></div>
  <div class="divider--space-and-half"></div>

  <div class="padding collaborate">
    <p class="text">
      Ofrecer un servicio gratuito como este, nos cuesta dinero 💸, pero lo hacemos con gusto, es nuestra manera de ayudar ante
      el Covid-19. Si también quieres colaborar, te dejamos un botoncito para que nos eches un cable y seguir manteniendo vivo el servicio.
    </p>

    <div class="divider--space"></div>

    <a href="https://www.paypal.me/menuparallevar/1.5?locale.x=es_ES" target="_blank">
      <button type="button" class="button button--full">
        Colaborar
      </button>
    </a>
  </div>

  <div class="divider--space"></div>
</div>
