@import './app/styles/index';

@include reset;

@include ui-components;

html,
body {
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body {
  @include get-font();

  background: gc(bg);

  -webkit-tap-highlight-color: gc(brand);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

app-root {
  max-width: $size---max-width;
  height: 100%;
  margin: auto;
  display: block;
  position: relative;
  overflow-y: auto;
}

* {
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

[routerLink],
.clickable {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.mat-icon {
  background-repeat: no-repeat;
  fill: currentColor;
  height: 24px;
  width: 24px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: gc(c1);

  &--dark {
    color: gc(c2);
  }
  &--area {
    height: 40px;
    width: 40px;
  }
}

input {
  border: 0;
  width: auto;
  flex: 1;
  padding: 0;
  margin: 0;
  padding-right: $size---padding / 2;

  @include placeholder {
    color: currentColor;
    opacity: 0.5;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
